@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;

  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;

  --color-teal-50: #f0fdfa;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}